/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title{
    font-size: 3rem;
    vertical-align: middle;
    font-weight: 700;
}

#header-container{
    height: 80px;
    line-height: 80px;
    background-color: white;
}

#logo{
    margin: 10px 10px 10px 10px;
    vertical-align: middle;
}


.main-container{
    width: 900px;
    height: 600px;
    background-color: white;
    margin-top: 50px;
    margin-left: 18%;
}

.mini-header{
    height: 10%;
    background-color: white;
}

#add-task{
    background-color: hsl(204deg 86% 61%);
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 8px;
    color: white;
    height: 30px;
    width: 80px;
    border-width: 0;
}

#add-section{
    background-color: white;
    border-radius: 8px;
    color: lightslategray;
    height: 30px;
    width: 80px;
    border-color: lightslategray ;
}

hr{
    background-color: hsl(200deg 20% 97%);
    height: 3px;
    border: none;
}

ul{
    list-style-type: none;
}

.triangolo{
    font-size: 30px;
    margin-right: -6px;
}

body{
    background-color: hsl(200deg 20% 97%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list-title{
    font-weight: 700;
    font-size: 20px;
    color: darkslategrey;
    margin-bottom: 20px;
}

.check{
    color: lightgreen ;
    height: 10px;
    width: 10px;
}

.cross{
    color: red;
}

.lists-container{
    margin-left: 50px;
    margin-top: 30px;
}

.list-button-blue{
    background-color: hsl(204deg 86% 61%);
    border-radius: 8px;
    color: white;
    border-width: 0;
    font-size: 12px;
    width: 50px;
    height: 20px;
    margin-left: 5px;
}

.list-button-purple{
    background-color: purple;
    border-radius: 8px;
    color: white;
    border-width: 0;
    font-size: 12px;
    width: 70px;
    height: 20px;
    margin-left: 5px;
}

.list-button-green{
    background-color: green;
    border-radius: 8px;
    color: white;
    border-width: 0;
    font-size: 12px;
    width: 60px;
    height: 20px;
    margin-left: 5px;
}

.list-button-orange{
    background-color: orange;
    border-radius: 8px;
    color: white;
    border-width: 0;
    font-size: 12px;
    width: 50px;
    height: 20px;
    margin-left: 5px;
}

.list-button-pink{
    background-color: pink;
    border-radius: 8px;
    color: white;
    border-width: 0;
    font-size: 12px;
    width: 50px;
    height: 20px;
    margin-left: 5px;
}

.list-button-greenyellow{
    background-color: greenyellow;
    border-radius: 8px;
    color: white;
    border-width: 0;
    font-size: 12px;
    width: 50px;
    height: 20px;
    margin-left: 5px;
}

li{
    font-weight:400;
}